<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.mapper">


	<resultMap id="EmployeeVO" type="com.project.vo.EmployeeVO">
		  <result property="seq" column="SEQ"/>
		  <result property="empNum" column="EMP_NUM"/>
		  <result property="empName" column="EMP_NAME"/>
		  <result property="birthDay" column="BIRTH_DAY"/>
		  <result property="address" column="ADDRESS"/>
		  <result property="entryDay" column="ENTRY_DAY"/>
		  <result property="leaveDay" column="LEAVE_DAY"/>
		  <result property="password" column="PASSWORD"/>
		  <result property="rankSeq" column="RANK_SEQ"/>
		  
		  
	</resultMap>
	
	<select id="login" parameterType="com.project.vo.EmployeeVO" resultMap="EmployeeVO">
		
		SELECT 
			B_EMPLOYEE.EMP_NUM,
			B_EMPLOYEE.EMP_NAME,
			B_EMPLOYEE.BIRTH_DAY,
			B_EMPLOYEE.ADDRESS,
			B_EMPLOYEE.ENTRY_DAY,
			B_EMPLOYEE.LEAVE_DAY,
			B_EMPLOYEE.PASSWORD,
			B_RANK.RANK_NAME AS RANK_SEQ
		FROM B_EMPLOYEE,B_RANK
		WHERE 1=1 
        AND B_EMPLOYEE.RANK_SEQ = B_RANK.RANK_SEQ(+)
		AND B_EMPLOYEE.EMP_NUM = #{empNum}
		AND B_EMPLOYEE.PASSWORD = #{password}
		
	</select>

</mapper>