<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "" >
  
  <!-- 
  <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> -->
<mapper namespace="com.project.mapper.sign_mapper">


	<resultMap id="SignBoardVO" type="com.project.vo.SignBoardVO" autoMapping="true">
		  <result property="seq" column="SEQ"/>
		  <result property="empNum" column="EMP_NUM"/>
		  <result property="signSubject" column="SIGN_SUBJECT"/>
		  <result property="signContent" column="SIGN_CONTENT"/>
		  <result property="regDate" column="REG_DATE"/>
		  <result property="signDate" column="SIGN_DATE"/>
		  <result property="signPerson" column="SIGN_PERSON"/>
		  <result property="signState" column="SIGN_STATE"/>
		  <result property="nextSign" column="NEXT_SIGN"/>
	</resultMap>
	
	
	<resultMap id="EmployeeVO" type="com.project.vo.EmployeeVO" autoMapping="true">
		  <result property="seq" column="SEQ"/>
		  <result property="empNum" column="EMP_NUM"/>
		  <result property="empName" column="EMP_NAME"/>
		  <result property="birthDay" column="BIRTH_DAY"/>
		  <result property="address" column="ADDRESS"/>
		  <result property="entryDay" column="ENTRY_DAY"/>
		  <result property="leaveDay" column="LEAVE_DAY"/>
		  <result property="password" column="PASSWORD"/>
		  <result property="rankSeq" column="RANK_SEQ"/>
	</resultMap>
	


	<select id="emplist"  resultMap="EmployeeVO">
	
		SELECT 
		    B_EMPLOYEE.EMP_NUM,
		    B_EMPLOYEE.EMP_NAME,
		    B_EMPLOYEE.DEPARTMENT_NUM,
		    B_EMPLOYEE.ADDRESS,
		    B_EMPLOYEE.ENTRY_DAY,
		    B_EMPLOYEE.LEAVE_DAY,
		    B_RANK.RANK_NAME AS RANK_SEQ
		FROM
		B_EMPLOYEE,B_RANK
		WHERE b_rank.rank_seq(+) = B_EMPLOYEE.RANK_SEQ
		ORDER BY B_EMPLOYEE.EMP_NUM
	
	</select>
	
	<select id="listSeq" parameterType="integer" resultMap="SignBoardVO">
	
		SELECT 
		    SB.SEQ,
		    EM.EMP_NAME AS EMP_NUM,
		    SB.SIGN_SUBJECT,
		    SB.SIGN_CONTENT,
		    SB.REG_DATE,
		    SB.SIGN_DATE,
		    SB.SIGN_PERSON,
		    SS.STATE_NAME AS SIGN_STATE
		FROM B_SIGNBOARD SB, B_EMPLOYEE EM, B_SIGN_STATE SS
		WHERE 1=1  
		AND SB.EMP_NUM = EM.EMP_NUM(+)
        AND SS.STATE_NUM = SB.SIGN_STATE
		AND SEQ = #{seq}
		
	</select>
	

	<select id="list" parameterType="map" resultMap="SignBoardVO">
		SELECT * FROM
		(
		SELECT 
		    SB.SEQ,
		    EM.EMP_NAME AS EMP_NUM,
		    SB.SIGN_SUBJECT,
		    SB.SIGN_CONTENT,
		    SB.REG_DATE,
		    SB.SIGN_DATE,
		    (SELECT EMP_NAME FROM B_EMPLOYEE
		    WHERE EMP_NUM = SB.SIGN_PERSON) AS SIGN_PERSON,
		    SS.STATE_NAME AS SIGN_STATE
		FROM B_SIGNBOARD SB, B_EMPLOYEE EM, B_SIGN_STATE SS
		WHERE 1=1  
		AND SB.EMP_NUM = EM.EMP_NUM(+)
		AND SS.STATE_NUM = SB.SIGN_STATE
		AND SB.EMP_NUM =#{empNum}
		<if test='sdate!="" and edate!="" '>
	       AND reg_date BETWEEN #{sdate} AND #{edate}
	     </if>
	
	    union ALL

        SELECT 
		    SB.SEQ,
		    EM.EMP_NAME AS EMP_NUM,
		    SB.SIGN_SUBJECT,
		    SB.SIGN_CONTENT,
		    SB.REG_DATE,
		    SB.SIGN_DATE,
		    (SELECT EMP_NAME FROM B_EMPLOYEE
		    WHERE EMP_NUM = SB.SIGN_PERSON) AS SIGN_PERSON,
		    SS.STATE_NAME AS SIGN_STATE
		FROM B_SIGNBOARD SB, B_EMPLOYEE EM, B_SIGN_STATE SS,
		 (SELECT * FROM B_SIGN WHERE EMP_NUM = #{empNum} ) sign
		WHERE 1=1  
		AND SB.EMP_NUM = EM.EMP_NUM(+)
		AND SS.STATE_NUM = SB.SIGN_STATE
		AND SB.SEQ = sign.BOARD_NUM
		AND sign.SIGN_REQUEST = 'Y'
		AND SB.EMP_NUM not in(#{empNum})
		<if test='sdate!="" and edate!="" '>
	       AND reg_date BETWEEN #{sdate} AND #{edate}
	     </if>
		
		
		ORDER BY SEQ DESC
		)
		WHERE 1=1
		<choose>
			<when test='search_box == "write"'>
				AND EMP_NUM LIKE '%'||#{search_text}||'%'
			</when>
			<when test='search_box == "subject"'>
				AND SIGN_SUBJECT LIKE '%'||#{search_text}||'%'
			</when>
			<when test='search_box == "singman"'>
				AND SIGN_PERSON LIKE '%'||#{search_text}||'%'
			</when>
			<when test='!sign_box.equals("결재상태")
						and !sign_box.equals("") '>
				AND SIGN_STATE = #{sign_box}
			</when>
			
		</choose>
		
	</select>
	
	<select id="signLine"  parameterType="integer"  resultType="com.project.vo.SignLineVO">
		
		SELECT
            DDD.EMP_NAME,
            ra.RANK_NAME
        FROM
        (
        
             SELECT 
                signlist.EMP_NUM
             FROM 
             B_EMPLOYEE employee, 
             B_SIGN_LIST signlist
             WHERE employee.DEPARTMENT_NUM = signlist.DEPARTMANT_NUM
             AND employee.EMP_NUM = #{seq}
        ) A, B_EMPLOYEE DDD, B_RANK ra
        WHERE A.EMP_NUM = DDD.EMP_NUM
        AND ra.RANK_SEQ = DDD.RANK_SEQ
		
	</select>
	
	<select id="boardCount" parameterType="integer" resultType="integer">
		SELECT 
		    count(*)
		FROM B_SIGNBOARD

	</select>
		
	
	<insert id="boardinsert"  parameterType="com.project.vo.SignBoardVO"  >
	<![CDATA[
		INSERT INTO B_SIGNBOARD
		(
			SEQ,
			EMP_NUM,
			SIGN_SUBJECT,
			SIGN_CONTENT,
			REG_DATE,
			SIGN_STATE,
			NEXT_SIGN
		)
		VALUES
		(
			 (SELECT NVL(MAX(SEQ),0) + 1 FROM B_SIGNBOARD),
			 #{empNum},
			 #{signSubject},
			 #{signContent},
			 SYSDATE,
			 #{signState},
			 #{nextSign}
		)
		
		]]>
	</insert>
	
	<insert id="signInjsert" parameterType="map">
		
		INSERT INTO B_SIGN
		(
		    SIGN_REQUEST,
		    EMP_NUM,
		    SIGN_DATE,
		    SIGN_TEXT,
		    BOARD_NUM,
		    SIGN_YN
		) 
		    SELECT 
			CASE 
			WHEN BSL.SING_FLAG = (
			                            SELECT 
			                                    MIN(SING_FLAG) 
			                            FROM B_SIGN_LIST WHERE  B_SIGN_LIST.DEPARTMANT_NUM = 
			                                    (
			                                        SELECT DEPARTMENT_NUM FROM B_EMPLOYEE
			                                        WHERE EMP_NUM = #{empNum}
			                                    )
			                     )
			THEN 'Y' 
			ELSE 'N'
			END AS SIGN_REQUEST,
			BSL.EMP_NUM,
			null AS SIGN_DATE,
			null AS SIGN_TEXT,
			#{boardNum} AS BOARD_NUM,
			null AS SIGN_YN
			FROM B_SIGN_LIST BSL
			WHERE DEPARTMANT_NUM =
			(
			    SELECT DEPARTMENT_NUM FROM B_EMPLOYEE
			    WHERE EMP_NUM = #{empNum}
			)
		
		
	</insert>
	
	<insert id="mySignInjsert" parameterType="map">
		
		INSERT INTO B_SIGN
		(
		    SIGN_REQUEST,
		    EMP_NUM,
		    SIGN_DATE,
		    SIGN_TEXT,
		    BOARD_NUM,
		    SIGN_YN
		) 
		    SELECT 
		    'Y' AS SIGN_REQUEST,
		    #{empNum} AS EMP_NUM,
		    SYSDATE AS SIGN_DATE,
		    null AS SIGN_TEXT,
		    #{boardNum} AS BOARD_NUM,
		    'Y' AS SIGN_YN
		    FROM SYS.DUAL
	</insert>
	
	
	<update id="boardUpdate" parameterType="com.project.vo.SignBoardVO">
		
		<choose>
			<when test='empNum.equals("")'>
			UPDATE B_SIGNBOARD
			SET SIGN_STATE = #{signState}
			WHERE SEQ = #{seq}
			</when>
			<otherwise>
			UPDATE B_SIGNBOARD
			SET SIGN_STATE = #{signState},
				SIGN_DATE = SYSDATE,
				SIGN_PERSON = #{empNum}
			WHERE SEQ = #{seq}
			</otherwise>
		</choose>
		
		
	</update>
	
	<update id="signUpdate" parameterType="map">
		
		UPDATE B_SIGN
		SET SIGN_YN = #{signState}
		WHERE EMP_NUM = #{empNum}
		AND BOARD_NUM= #{boardNum}
	
	</update>
	
	<update id="nextSignUpdate" parameterType="map">
		UPDATE 
	    (SELECT * FROM B_SIGN
	    WHERE EMP_NUM = 
	    (
	        	SELECT EMP_NUM FROM B_SIGN_LIST
	        	WHERE SING_FLAG = 
		        (
		        	SELECT SING_FLAG +1 FROM B_SIGN_LIST
		        	WHERE EMP_NUM=#{empNum} 
		    	)
	    )
	    AND BOARD_NUM = #{boardNum} ) A
		SET A.SIGN_REQUEST = 'Y'
	</update>
	
	<select id="signList" parameterType="integer" resultType="com.project.vo.SignVO">
	
		SELECT 
		    BS.SIGN_REQUEST,
		    BS.EMP_NUM,
		    BS.SIGN_DATE,
		    BS.SIGN_TEXT,
		    BS.BOARD_NUM,
		    BS.SIGN_YN,
		    EMP.EMP_NAME,
		    BR.RANK_NAME
		FROM
		    B_SIGN BS , B_EMPLOYEE EMP, B_RANK BR
		WHERE 1=1
		AND BS.EMP_NUM = EMP.EMP_NUM(+)
		AND EMP.RANK_SEQ = BR.RANK_SEQ
		AND BOARD_NUM = #{boardNum}
		ORDER BY BS.EMP_NUM
		
	</select>
	
	<select id="lastSignCount" parameterType="integer" resultType="integer">
		SELECT COUNT(*) FROM B_SIGN_LIST
		WHERE EMP_NUM = #{empNum}
		AND SING_FLAG = (SELECT MAX(SING_FLAG) FROM B_SIGN_LIST)
	</select>
	
	
	<select id="nameSearch" parameterType="string" resultType="integer">
	
	
	</select>
</mapper>